@model HomeViewModel

 <!--<div class="container">
        <main role="main" class="pb-3">

          <body class="bg-light">
    
            <div class="container">
              <main>
                <div class="py-5 text-center">
                  <h2>Инструкция</h2>
                  <p class="lead">Ниже приведен пример формы, полностью созданной с использованием элементов управления формы Bootstrap. Каждая требуемая группа форм имеет состояние проверки, которое может быть вызвано попыткой отправить форму без ее заполнения.</p>
                </div>
            
                <div class="row g-5">
                  <div class="col-md-10 col-lg-11">
                    
                    <h4 class="mb-3">Адрес для выставления счета</h4>
                    <form class="needs-validation" novalidate="">
            
                        <div class="col-12">
                          <label for="address" class="form-label">Адрес</label>
                          <input type="text" class="form-control" id="address" placeholder="ул. Фокина" required="">
                          <div class="invalid-feedback">
                            Пожалуйста, введите свой адрес доставки.
                          </div>
                        </div>
            
                        <div class="col-12">
                          <label for="address2" class="form-label">Адрес 2 <span class="text-muted">(Необязательно)</span></label>
                          <input type="text" class="form-control" id="address2" placeholder="квартира или дом">
                        </div>
            
                        <div class="col-md-12">
                          <label for="country" class="form-label">Страна</label>
                          <select class="form-select" id="country" required="">
                            <option value="">Выберите...</option>
                            <option>Россия</option>
                          </select>
                          <div class="invalid-feedback">
                            Пожалуйста, выберите действующую страну.
                          </div>
                        </div>
            
                      <hr class="my-4">
            
                      <button class="w-100 btn btn-primary btn-lg" type="submit">Продолжить оформление заказа</button>
                    </form>

                    <p>

                    </p>

                  </div>
                </div>
              </main>
            
              <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">© 2017–2021 Название компании</p>
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="#">Конфиденциальность</a></li>
                  <li class="list-inline-item"><a href="#">Условия</a></li>
                  <li class="list-inline-item"><a href="#">Поддержка</a></li>
                </ul>
              </footer>
            </div>
            
            
                <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
            
                  <script src="form-validation.js" crossorigin="anonymous"></script>
              
            
            </body>

        </main>
    </div>

-->
