@model Tuple<List<Noun>, int>

@foreach (var noun in Model.Item1)
{
    <a class="list-group-item list-group-item-action lh-tight" onclick='autoInputNoun("@noun.Id-noun", "@Model.Item2");'>
        <div class="d-flex w-70 align-items-center justify-content-between">
            <p id="@noun.Id-noun" class="mb-1">@noun.Word.ToString()</p>
        </div>
    </a>
}